mixin servicios(x)
  .columns
    each val in x
      .column
        a(href="#",class="post-nav",data-img="img/img3.jpg") #{val}

mixin section1(img,title,p,ser)
  .columns
    .column
      img(src="#{img}", class="change")
        
    .column
      h2.titles.borde.pl-1em #{title}
      .pl-1em
        p.ps.mb-2em.pl-1em #{p}
        if(ser)
          +servicios(["Alarmas","Equipos CCTV","Monitoreo"])
          +servicios(["Sensores de panico","Detectores de Metales","Control de Marcas"])
        
mixin section2(img,title,p)
  .columns
    .column
      h2.titles.borde.pl-1em #{title}
      each val in p
        .pl-1em
          p.ps.mb-2em.pl-1em #{val}

    .column
      img(src="#{img}")
